.center_block {
    margin-top: 10%;
    position: absolute, center;


    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    
    border: solid #000;
    border-width: 1px 1px;
}

.align_children_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: left;
}

.circle_img {
    border-radius: 50%;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 6px 9px;
    margin-bottom: 10px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
  }
  .bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;
  }
  .bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
  }
  .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    font-size: 12px;
    padding: 4px 5px;
    margin-bottom: 2px;
    background-color: #08c;
    display: inline-block;
  }
  .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 7px;
    cursor: pointer;
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "×";
    padding: 0px 2px;
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  a {
    cursor: pointer;
}

.list-jobs__details {
    font-size: 12px;
    color: #999;
}