{% extends "layout.html" %}
{% block content %}
<div class="col-md-3 col-sm-0">&#8203;</div>
<div class="col-md-6 col-sm-12" style="margin-top: 3%">
    <h1>Кандидати на FintIT</h1>

    <h1>TODO: update this shit with backend-provided fields!</h1>
    <hr>

    <div class="col-md-12 col-sm-12" style="margin-top: 5%; font-size: 14pt;">
        <div class="inbox-date pull-right">20.09.2019</div>
        <div class="list-jobs__title"><a class="profile"> Разработчик С++ </a></div>
        <div class="list-jobs__details tiny-profile-details" style="font-size: 10pt">
            <span v-for="city in user.cities_arr"> Lviv, Kyiv , </span>
            <span class="profile-details-salary"> 700$</span>,
            <span> 2 роки досвіду</span>,
            <span> Intermediate  </span>
        </div>
        <div style="word-break: break-word;"> user.experience_description </div>
        <div><span v-for="skill in user.key_skills_arr">  skill , </span> </div>
        <div style="font-style: italic"> user.desires_description </div>
    </div>


    <div class="col-md-12 col-sm-12" style="margin-top: 5%; font-size: 14pt;">
        <div class="inbox-date pull-right">DATE</div>
        <div class="list-jobs__title"><a class="profile"> user.position </a></div>
        <div class="list-jobs__details tiny-profile-details" style="font-size: 10pt">
            <span v-for="city in user.cities_arr"> city , </span>
            <span class="profile-details-salary"> user.salary $</span>,
            <span> user.years_of_experience  роки досвіду</span>,
            <span> user.english_level  </span>
        </div>
        <div style="word-break: break-word;"> user.experience_description </div>
        <div><span v-for="skill in user.key_skills_arr">  skill , </span> </div>
        <div style="font-style: italic"> user.desires_description </div>
    </div>


</div>


{% endblock %}