{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-3">&#8203;</div>
    <div class="col-sm-6">
        <ul class="nav nav-pills" style="margin: 1.5em 0 1em;">
            <li>
                <a href="{{ url_for('users.profile') }}">Профіль</a></li>
            <li class="active">
                <a href="{{ url_for('users.contact_info') }}">Контакти</a></li>
        </ul>

        <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal form-horizontal-text-left js-inbox-reply-form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                 <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.skype.label(class="form-control-label") }}
                    {% if form.skype.errors %}
                        {{ form.skype(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.skype.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.skype(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.github.label(class="form-control-label") }}
                    {% if form.github.errors %}
                        {{ form.github(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.github.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.github(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </fieldset>
        </form>

    </div>
{% endblock content %}