{% extends "layout.html" %}
{% block content %}
<center>
    <h2>Розмістити вакансію</h2>
</center>

<hr>
<div class="col-sm-3">&#8203;</div>
<div class="col-sm-6">
    <form id="profile" class="form-horizontal form-horizontal-text-left js-inbox-reply-form" method="POST">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="Position">Посада</label>
            <div class="col-sm-6">
                <input type="text" name="title" id="Position" class="form-control" data-provide="typeahead"
                    required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="provided_salary">
                Очікувана зп
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" name="provided_salary" id="salary_min" step="50" min="100" required="required"
                        autocomplete="off" class="form-control input salary" value="300">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="City">Місто</label>
            <div class="col-sm-6">
                <input type="text" name="city" id="City" class="form-control" data-provide="typeahead"
                    placeholder="Місто, у якому відкрита компанія" required="required">
            </div>
        </div>

        <div class="form-group" id="Skills">
            <input type="text" name="skills" id="skillsCache" class="form-control" :value="toString()"
                style="display:none; visibility: hidden;">

            <label class="col-sm-3 control-label">Необхідні навички</label>
            <div class="col-sm-6">
                <div class="bootstrap-tagsinput">
                    <span v-for="skill in skillsList" class="tag label label-info">
                        {% raw %} {{ skill }} {% endraw %}
                        <span data-role="remove" onclick="OnDeleteClicked(this)"></span></span>
                    <input id="skillsInput" type="text" placeholder="" style="width: 9em !important;"
                        oninput="OnTyped(this)">
                </div>
                <ul>
                    <li onclick="OnClicked(this)" class="active" v-for="item in Items">
                        {% raw %} {{ item }} {% endraw %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Короткий опис</label>
            <div class="col-sm-6">
                <textarea rows="6" class="form-control" maxlength="255" name="short_description" id="short_description"
                    required></textarea>
                <p class="help-block">
                    Розкажіть коротко про проект чи ідеального кандидата
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Вимоги</label>
            <div class="col-sm-6">
                <textarea rows="6" class="form-control" maxlength="2500" name="description" id="moreinfo"
                    required></textarea>
                <p class="help-block">
                    Опишіть вимоги
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="company_page">Сторінка компанії</label>
            <div class="col-sm-6">
                <input type="text" name="company_page" id="company_page" class="form-control" data-provide="typeahead"
                    placeholder="Сторінка компанії" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="company_name">Назва компанії</label>
            <div class="col-sm-6">
                <input type="text" name="company_name" id="company_name" class="form-control" data-provide="typeahead"
                    placeholder="Назва компанії" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Про компанію</label>
            <div class="col-sm-6">
                <textarea rows="6" class="form-control" maxlength="1500" name="about_company" id="about_company"
                    required></textarea>
                <p class="help-block">
                    Розкажіть про компанію: професійний ріст, розваги, переваги
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="experience">Роки досвіду</label>
            <div class="col-sm-6">
                <div class="slidecontainer">
                    <input type="range" min="0" max="4" class="slider" name="experience" id="YearsOfExperience"
                        value="0">
                        <br>
                    <p><span id="demo"></span></p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Курс в університеті</label>
            <div class="col-sm-6" id="Course">
                <div class="radio">
                    <label><input type="radio" name="department" value="System Analysis" required>System
                        Analysis</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="department" value="Computer Science">Computer
                        Science</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="department" value="Information Technologies">Information
                        Technologies</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Категорія</label>
            <div class="col-sm-6">
                <select class="form-control" name="position" required>
                    <optgroup label="Розробка">
                        <option value="Java">Java</option>
                        <option value=".NET">C# / .NET</option>
                        <option value="JavaScript">JavaScript / Front-End / HTML</option>
                        <option value="Node.js">Node.js</option>
                        <option value="PHP">PHP</option>
                        <option value="Python">Python</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Android">Android</option>
                        <option value="iOS">iOS / macOS</option>
                        <option value="C++" selected="">C / C++ / Embedded</option>
                        <option value="Golang">Golang</option>
                        <option value="Scala">Scala</option>
                    </optgroup>
                    <optgroup label="Ще технічні">
                        <option value="Design">Дизайнери / UI / UX</option>
                        <option value="QA Automation">QA Automation</option>
                        <option value="QA">QA Manual</option>
                        <option value="Business Analyst">Бізнес-аналітики (BA)</option>
                        <option value="Product Manager">Product Manager</option>
                        <option value="Project Manager">Project Manager</option>
                        <option value="Lead">Lead / Architect / CTO</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Sysadmin">DevOps / Sysadmin</option>
                        <option value="Unity">Gamedev / Unity / AS3</option>
                        <option value="SQL">SQL / DBA</option>
                    </optgroup>
                    <optgroup label="Нетехнічні">
                        <option value="HR">Рекрутери та HR</option>
                        <option value="Marketing">Маркетинг</option>
                        <option value="Sales">Продажі</option>
                        <option value="Support">Підтримка</option>
                        <option value="Other">(Інші)</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Рівень англійської</label>
            <div class="col-sm-6" id="English">
                <div class="radio">
                    <label><input type="radio" name="english_level" value="No English" required>No English</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="english_level"
                            value="Beginner/Elementary">Beginner/Elementary</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="english_level" value="Pre-Intermediate">Pre-Intermediate</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="english_level" value="Intermediate">Intermediate</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="english_level" value="Upper-Intermediate">Upper
                        Intermediate</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="english_level" value="Advanced/Fluent">Advanced/Fluent</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Варіанти зайнятості</label>
            <div class="col-sm-6" id="EmploymentOptions">
                <div class="radio">
                    <label><input type="radio" name="employment_type" value="Fulltime Office" required>Робота в офісі на
                        повний день</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="employment_type" value="Fulltime Remote">Віддалена (повний
                        робочий день)</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="employment_type" value="Parttime Remote">Віддалена (часткова
                        зайнятість )</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="employment_type" value="Freelance">Фріланс (разові
                        проекти)</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="employment_type" value="Relocate Ukraine">Переїзд у інше місто
                        України</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="employment_type" value="Relocate">Переїзд до США або
                        Європи</label>
                </div>
            </div>
        </div>

        <center style="margin-top: 5%">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Розмістити"
                    style="background-color:#337ab7; border-color:cadetblue">
            </div>
        </center>
    </form>
</div>

    <script>
        var slider = document.getElementById("YearsOfExperience");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
            slider.setAttribute("value", this.value);
            if (this.value == 0) output.innerHTML += " років";
            else if (this.value == 1) output.innerHTML += " рік";
            else if (this.value == 2) output.innerHTML += " роки";
            else if (this.value == 3) output.innerHTML += " роки";
            else output.innerHTML += " роки";
        }
        slider.oninput();
    </script>

    <script type="text/javascript">
        Array.prototype.remove = function () {
            var what, a = arguments, L = a.length, ax;
            while (L && this.length) {
                what = a[--L];
                while ((ax = this.indexOf(what)) !== -1) {
                    this.splice(ax, 1);
                }
            }
            return this;
        };

        var Items = ["C/C++", "Java", "Javascript", "Git", "Unreal Engine"];

        (async () => {
            const response = await axios({
                url: '{{ backend_url }}' + '/technologies',
                method: 'get'
            })
            Items = response.data;
        })();

        function OnClicked(item) {
            str = item.innerHTML;
            str = str.trim();
            Skills.Items = [];
            var bFound = false;
            Skills.skillsList.forEach(element => {
                if (element == str) {
                    bFound = true;
                    //  break;
                }
            });
            if (!bFound) {
                Skills.skillsList.push(str);
            }
            document.getElementById("skillsInput").value = "";
        }

        function OnDeleteClicked(span) {
            str = span.parentElement.textContent.trim();

            Skills.skillsList.remove(str);
        }

        function OnTyped(text) {
            str = text.value;
            //          alert(str);

            Skills.Items = [];
            if (str === "") {
                return;
            }
            Items.forEach(element => {
                //                alert(element);
                if (element.toLowerCase().includes(str.toLowerCase())) {
                    Skills.Items.push(element);
                }
            });
        }

        Skills = new Vue({
            el: '#Skills',
            data: {
                Items: [],
                skillsList: []
            },
            methods: {
                toString: function () {
                    res = "";
                    for (i = 0; i < this.skillsList.length; ++i) {
                        res += this.skillsList[i] + ";";
                    }
                    return res;
                }
            }
        })
    </script>

    {% endblock content %}