{% extends "layout.html" %}
{% block content %}

<div class="container">
    <center>
        <h1 class="jobs-push-hero__headline" style="margin-top: 5%">
            FindIT - пошук роботи для студентів кафедри ІСМ
        </h1>
    </center>
    <hr>

    <div class="jobs-push-form-wrapper" style="margin-top: 5%">
        <div class="container" align="center">

            <a class="btn btn-primary btn-lg v4__submit" href="{{ url_for('users.register') }}">Розпочати
                <span class="glyphicon glyphicon-globe"></span>
            </a>

        </div>
    </div>

</div>
</div>
{% endblock %}