<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% if title %}
  <title>FindIT - {{ title }}</title>
  {% else %}
  <title>FindIT</title>
  {% endif %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='Vue/DonwloadedVue.js') }}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/JS/Bootstrap-min-js.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='Ajax.js') }}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/BasicStyle.css') }}">


</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-default bg-steel fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FindIT</a>
        </div>
        <ul class="nav navbar-nav">
          {% if current_user.is_authenticated %}
          {% else %}
          <li id="main.home"><a href="{{ url_for('main.home') }}">Домашня Сторінка</a></li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li id="users.profile"><a href="{{ url_for('users.profile') }}">Профіль користувача</a></li>
          <li id="vacancies.new_vacancy"><a href="{{ url_for('vacancies.new_vacancy') }}">Розмістити вакансію</a></li>
          <li id="main.vacancies"><a href="{{ url_for('main.vacancies') }}">Список вакансій</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('main.tutorial') }}"> <span class="glyphicon glyphicon-question-sign"></span></a></li>
          {% if current_user.is_authenticated %}
          <li id="users.logout"><a href="{{ url_for('users.logout') }}">Вийти</a></li>
          {% else %}
          <li id="users.login"><a href="{{ url_for('users.login') }}">Увійти</a></li>
          <li id="users.register"><a href="{{ url_for('users.register') }}">Зареєструватися</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>


  <div class="col-sm-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

</body>
<script>
  $(document).ready(function () {
    document.getElementById("{{request.endpoint}}").classList.add("active");
  })
</script>

</html>