{% extends "layout.html" %}
{% block content %}
<div class="col-md-4 col-sm-4">&#8203;</div>
    <div class="col-md-4 col-sm-4" style="margin-top: 3%">
        <legend>Увійти</legend>
        <div class="content-section">

            <form class="tab-pane fade in active" method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        <label for="SignIn_Email">Електронна пошта:</label>
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg", id="SignIn_Email", placeholder="Введіть емейл") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="SignIn_Pwd">Пароль:</label>
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg", id="SignIn_Pwd", placeholder="Введіть пароль") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label", value="запам'ятати мене") }}
                    </div>
                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-success", value="Увійти") }}
                </div>
            </form>
        </div>
    </div>
<div class="border-top pt-3">
    <small class="text-muted">
        Не маєте аккаунту? <a class="ml-2" href="{{ url_for('users.register') }}">Зареєструватися</a>
    </small>
</div>
{% endblock content %}