{% extends "layout.html" %}
{% block content %}

<div class="col-md-4 col-sm-4">&#8203;</div>

<div class="col-md-4 col-sm-4" style="margin-top: 3%">
    <div class="content-section">
        <form class="tab-pane fade in active" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom sm-4">Долучайтеся сьогодні!</legend>

                <div class="form-group">
                    <label for="SignUp_Email">Електронна пошта:</label>

                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg", id="SignUp_Email", placeholder="Введіть емейл") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="SignUp_Pwd">Пароль:</label>

                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg", id="SignUp_Pwd", placeholder="Введіть пароль") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="Confirm_Pwd">Підтвердіть пароль:</label>

                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg", id="Confirm_Pwd", placeholder="Введіть пароль") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="FirstName">Ім'я:</label>

                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg", id="FirstName", placeholder="Ім'я") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="LastName">Прізвище:</label>

                    {% if form.surname.errors %}
                    {{ form.surname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.surname.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.surname(class="form-control form-control-lg", id="LastName", placeholder="Прізвище") }}
                    {% endif %}

                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-success", value="Зареєструватися") }}
            </div>
        </form>
    </div>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Вже маєте аккаунт? <a class="ml-2" href="{{ url_for('users.login') }}">Увійти</a>
    </small>
</div>

{% endblock content %}