{% extends "layout.html" %}
{% block content %}
<div class="col-sm-2">&#8203;
</div>
<div class="col-sm-8">

    <p>
        Головна сторінка (викликається при неавторизованому вході на сторінку)
        На даній сторінці можна виконати перехід на наступні сторінки:
    </p>
    <ul>
        <li>
            Реєстрація (викликається при натисненні кнопки "Розпочати" чи "Зареєструватися")
        </li>
        <li>
            Вхід (викликається при натисненні кнопки "Увійти")
        </li>
    </ul>

    <p>
        Реєстрація
        На даній сторінці користувачу надається можливість зареєструватись за допомогою його емейл адреси. При
        реєстрації обов'язково потрібно ввести наступні дані:
    </p>
    <ul>
        <li>Емейл</li>
        <li>Пароль</li>
        <li>Повторний пароль</li>
        <li>Ім'я</li>
        <li>Прізвище</li>

    </ul>
    <p>
        Після заповнення даних полів і натискання клавіші "Зареєструватись" користувач переходить на сторінку
        входу,
        де
        повинен ввести дані, за якими була здійснена реєстрація. Також користувач отримує інформацію щодо
        успішного
        завершення реєстрації.
    </p>
    <p>
        Вхід
        На даній сторінці користувач повинен ввести свої дані, які він ввів при реєстрації. При правильності
        введених
        даних, користувач переходить на версію сайту для авторизованих користувачів.
    </p>
    <p>
        Профіль користувача
        При переході у розділ "Профіль користувача" появляється форма для введення анкетних даних. При бажанні
        користувач має можливість вказати наступні поля, які у майбутньому будуть видимі для роботодавців, які
        мають
        вакансії з відповідними критеріями:
    </p>
    <ul>
        <li>
            Бажана посада (вказується посада, яку користувач хоче підкорити. Наприклад, Junior Java Developer)
        </li>
        <li>Зарплата не нижче (числове поле, де потрібно вказати мінімальну зарплату, за якої користувач
            погоджується
            працювати)
        </li>
        <li>
            Місто (поле для вводу міста, в якому користувач планує працювати. При бажанні можна ввести кілька
            міст,
            у
            яких у вас є можливість працювати)
        </li>
        <li>
            Навички (вказуються технології зі списку, якими володіє користувач. Наприклад, С++, Unreal Engine 4)
        </li>
        <li>
            Досвід (вказується наявний досвід у тій спеціалізації, яку бажає отримати користувач. Це можуть бути
            сертифікати, реалізовані проекти, курсові роботи з університету та інше)
        </li>
        <li>
            Роки досвіду (вказується значення довжини інтервалу часу, за який був набутий досвід, отриманий в
            попередньо
            описаному досвіді)
        </li>
        <li>
            Курс в університеті (обирається спеціалізація, якою користувач оволодів в університеті з вказаного
            переліку)
        </li>
        <li>
            Категорія (обирається з вказаного переліку категорія посади, на яку претендує користувач)
        </li>
        <li>
            Рівень англійської (обирається з вказаного переліку рівень володіння англійською користувача)
        </li>
        <li>
            Варіанти зайнятості (обирається з вказаного переліку варіант зайнятості, який підходить користувачу)
        </li>
    </ul>
    <p>
        У вкладці "Розмістити вакансію" користувач має змогу розмістити вакансію на роботу. При цьому можна
        вказати
        наступну інформацію:
    </p>
    <ul>
        <li>
            Посада (найменування посади)
        </li>
        <li>
            Очікувана зп (орієнтована зарплата, яку готові заплатити майбутньому працівнику)
        </li>
        <li>
            Місто (місто, у якому розміщується компанія)
        </li>
        <li>
            Необхідні навички (вказуються технології, якими повинен володіти майбутній працівник)
        </li>
        <li>
            Короткий опис (у даному полі можна розмістити короткий опис про дану позицію чи те, яким
            роботодавець
            хоче
            бачити майбутнього працівника)
        </li>
        <li>
            Вимоги (у даному полі можна вказати вимоги до майбутнього працівника)
        </li>
        <li>
            Сторінка компанії (вказується посилання на сторінку компанії)
        </li>
        <li>
            Назва компанії
        </li>
        <li>
            Про компанію (дане поле може містити короткий опис про компанію)
        </li>
        <li>
            Роки досвіду (вказується бажана кількість років досвіду на дану позицію)
        </li>
        <li>
            Курс в університеті (вказується бажаний курс в університетів, який би підійшов на дану позицію)
        </li>
        <li>
            Категорія (вказується категорія, що підходить на дану позицію)
        </li>
        <li>
            Рівень англійської (вказується бажаний рівень англійської на дану позицію)
        </li>
        <li>
            Варіанти зайнятості (вказується варіант зайнятості на дану позицію)
        </li>

    </ul>
    <p>
        У вкладці "Вакансії" відображаються існуючі вакансії. Можна обрати розділ "Всі вакансії", у якому
        показуються
        всі існуючі вакансії і розділ "Вакансії за моїм профілем", де показуються вакансії, які найбільш
        релевантні
        відносно заповненого профіля користувача.
    </p>
    <p>
        При переході на сторінку певної вакансії з лівої сторони вказується інформація про вакансію, а з правої
        відображаються профілі, які найбільше підходять для даної вакансії.
    </p>
    <p>
        При переході на сторінку певного користувача відображається його анкетна інформація.
    </p>
</div>

{% endblock %}