{% extends "layout.html" %}
{% block content %}

<div class="col-md-3 col-sm-0">&#8203;</div>
<div class="col-md-6 col-sm-12" style="margin-top: 3%">



  <div class="row">

    <div class="col-sm-8" style="font-size: 12pt">
      <h4>Напрямок навчання: </h4>
      <p>{{ user.department }}</p>
      <h4>Бажана позиція: </h4>
      <p>{{ user.desired_position }}</p>


      <h4>Досвід роботи</h4>
      <p class="before-hint">
        {{ user.experience }} роки досвіду
        Англійська {{ user.english }}
        <p class="profile" style="word-break: break-word;">{{ user.description }}</p>
        <h4>Навички</h4>
        <p class="profile">{{ user.skills }}</p>
        <br>
        <h4>Контакти:</h4>
        <p>Місто: {{ user.city }}</p>
        <p>E-mail: {{ user.email }}</p>
        <p>Skype: {{ user.skype }}</p>
        <p>Телефон: {{ user.telephone }}</p>
        {% if user.github != "" %}
        <p>Github: <a href="{{ user.github }}"> {{ user.github }}</a></p>
        {% endif %}
    </div>

    <div class="col-sm-4">
      <center>
        <h2>{{ user.name }} {{ user.surname }}</h2>
      <img class="circle_img article-img" style="width: 200px; height: 200px;"
        src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" />
      </center>

      <div class="panel panel-default profile-panel">
        <div class="panel-heading">
          <h5 class="panel-title">Розглядаю варіанти</h5>
        </div>
        <div class="panel-body">
          ✔ {{ user.employment_type }}
        </div>
      </div>
    </div>


  </div>


</div>

{% endblock %}