{% extends "layout.html" %}
{% block content %}


<div class="col-sm-2 col-sm-2">&#8203;</div>
<div class="col-sm-6 col-sm-6" style="margin-top: 3%">


  <a href="{{ url_for('main.vacancies') }}"> Всі вакансії</a>


  <hr>
  <h2>{{ vacancy.title }}</h2>


  <div class="list-jobs__details tiny-profile-details" style="font-size: 9pt">
    <img class="circle_img article-img" style="width: 32px; height:32px;"
      src="{{ url_for('static', filename='profile_pics/' + vacancy.author.image_file) }}" />
    <a href="{{ url_for('users.user', id=vacancy.author.id) }}">{{ vacancy.author.name}}
      {{ vacancy.author.surname}}</a>, {{ vacancy.author.desired_position }} at {{ vacancy.company_name }},
      
    <span class="glyphicon glyphicon-map-marker"></span>
    <span>{{ vacancy.city }}</span>,
    <span>роки досвіду: {{ vacancy.experience }}</span>,
    <span>{{ vacancy.english_level }}</span>
  </div>

  <hr>

  <div class="profile-page-section" style="font-size: 14pt">
    {{vacancy.short_description}}
    <br>
    <br>
    <br>
  </div>
  <div class="profile-page-section" style="font-size: 12pt">
    {{vacancy.description}}
    <br>
    <br>
    <br>
  </div>
  <div class="profile-page-section" style="font-size: 12pt">
    <p><b>Про компанію {{ vacancy.company_name }}</b></p>
    {{vacancy.about_company}}
    <br>
    <br>
    <br>
  </div>
  <div class="profile-page-section" style="font-size: 12pt">
    <p><b>Сайт компанії</b></p>
    <a href="{{ vacancy.company_page }}">{{ vacancy.company_page }}</a>
    <br>
    <br>
    <br>
  </div>
  <div>
    <p class="text-muted">
      <span class="glyphicon glyphicon-edit"></span>
      {{ vacancy.date_posted.strftime('%Y-%m-%d') }}
      <br>
    </p>
  </div>


</div>
<br>
<div class="container col-md-3 col-sm-4" style="margin-top: 3%">
  <h2>Найкращі кандидати</h2>

  {% for user in users %}


  <div class="list-jobs__details tiny-profile-details" style="font-size: 9pt;">
        <div class="col-sm-12" style="padding-left: 12px">
            <p>
                <img class="circle_img article-img" style="width: 32px; height:32px;"
                src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" />
                <a href="{{ url_for('users.user', id=user.id) }}">{{ user.name }} {{ user.surname }}</a>
            </p>
        </div>

        <div class="list-jobs__details tiny-profile-details col-sm-12" style="font-size: 9pt;">
          <p>Навички: {{ user.skills }}</p>
          <p>Роки досвіду: {{ user.experience }}</p>
          <p>Рівень англійської: {{ user.english_level }}</p>
          <span class="profile-details-salary">{{ user.expected_salary }}$</span>
        </div>
  </div>
  {% endfor %}

</div>


  {% endblock %}