{% extends "layout.html" %}
{% block content %}

<div class="col-md-3 col-sm-0">&#8203;</div>
<div class="col-md-6 col-sm-12" style="margin-top: 3%">
  <h2>Вакансії на FindIT</h2>


  <ul class="nav nav-pills" style="margin: 1.5em 0 1em;">
    <li class="active">
      <a href="{{ url_for('main.vacancies') }}">Всі вакансії</a></li>
    <li>
      <a href="{{ url_for('users.suggest_vacancies') }}">Вакансії за моїм профілем</a></li>
  </ul>


  <legend></legend>

  {% for vacancy in vacancies.items %}
  <div class="col-md-12 col-sm-12" style="margin-top: 5%; font-size: 12pt;">
    <div class="inbox-date pull-right">{{ vacancy.date_posted.strftime('%Y-%m-%d') }}</div>

    <div class="list-jobs__title">
      <a class="profile"
        href="{{ url_for('vacancies.preview_vacancy', vacancy_id=vacancy.id) }}">{{ vacancy.title }}</a>
    </div>

    <div class="list-jobs__details tiny-profile-details" style="font-size: 9pt">
      <img class="circle_img article-img" style="width: 32px; height:32px;"
        src="{{ url_for('static', filename='profile_pics/' + vacancy.author.image_file) }}" />
      <a href="{{ url_for('users.user', id=vacancy.author.id) }}">{{ vacancy.author.name}}
          {{ vacancy.author.surname}}</a>, {{ vacancy.author.desired_position }} at {{ vacancy.company_name }}
             
      <span class="glyphicon glyphicon-map-marker"></span>
      <span>{{ vacancy.city }}</span>,
      <span>роки досвіду: {{ vacancy.experience }}, </span>
      <span>рівень англійської: {{ vacancy.english_level }}</span>
    </div>
  </div>


  {% endfor %}


  {% for page_num in vacancies.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if vacancies.page == page_num %}
  <a class="btn btn-info mb-4" href="{{ url_for('main.vacancies', page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{ url_for('main.vacancies', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}

  {% endfor %}

</div>


{% endblock %}